#make_tour_page{
  padding-top: 120px;
  height: 100%;
  background-image: url(/assets/images/kyoto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .tour_form_container{
    width: 30%;
    .tour_form{
      background: rgba(255, 255, 255, 0.7);
      margin-top: 100px;
      text-align: center;
      padding: 40px 0 40px 0;
      h2{
        margin-bottom: 20px;
      }
      .tour_content{
        height: 50px;
        width: 500px;
        font-size: 20px;
        border-radius: 15px;
        &:focus{
          outline: none;
        }
      }
      .btn-tour{
        opacity: 1.0;
        margin-top: 35px;
        background-color: #74A847;
        color: white;
        height: 50px;
        font-size: 18px;
      }
    }
  }
}