#recommendation {
  height: 100%;
  width: 100%;
  .recommendation_title{
      text-align: center;
      color: white;
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      bottom: 0;
      margin:0 auto;
      display: inline-block;
      width: 500px;
      height: 100px;
  }
  .location_main{
    .location_main_pic{
      width: 100%;
      height: 600px;
    }
  }
  .left-content{
    margin-top: 40px;
    background-color: rgba(0,0,0,0);
    position: absolute;
    height: 400px;
    width: 300px;
    top: 40px;
    left: 48px;
    color: white;
    h4{
      color: white;
      margin-bottom: 20px;
    }
  }
  .locations_picture{
    ul{
      &:after{
        content: "";
        clear: both;
        display: block;
      }
      li{
        display: block;
        float: left;
        height: 100%;
        list-style-type: none;
        text-align: center;
        width: 25%;
        &:after{
          padding-top: 100%;
          display: block;
          content: "";
        }
      }
    }
  }
}