.top_page{
  height: 100%;
  width: 100%;
  background-image: url(/assets/images/fuji.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .content{
    margin-top: 200px;
    text-align: center;
    h1{
      color: white;
      font-size: 80px;
    }
    p{
      color: white;
      font-size: 30px;
    }
    .start_link{
      display: inline-block;
      margin-top:  30px;
      padding: 10px 25px;
      color: white;
      border: 2px solid white;
      font-size: 20px;
    }
  }
}
