#top_header{
  border-right: 2px solid white;
  margin-left: auto;
  position: absolute;
  right: 80px;
  color: white;
  cursor: default;
  left: 0;
  position: fixed;
  top: 150px;
  width: 250px;
  line-height: 5em;
  max-height: 600px;
  text-align: right;
  padding-right: 15px;
  ul{
    li{
      list-style: none;
      a{
        font-size: 38px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 3px;
        color: white;
        font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
        &:hover{
          text-decoration: none;
          color: #cccccc;
        }
      }
    }
  }
}