#top_header{
  z-index: 100;
  border-right: 2px solid white;
  margin-left: auto;
  color: white;
  cursor: default;
  left: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  line-height: 5em;
  max-height: 80px;
  text-align: right;
  padding-right: 15px;
  ul{
    width: 60%;
    margin: 0 auto;
    margin-top: 35px;
    li{
      list-style: none;
      line-height: 130%;
      letter-spacing: 3px;
      margin-bottom: 15px;
      text-align: center;
      a{
        font-size: 18px;
        font-weight: 700;
        color: white;
        font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
        border-bottom: 3px solid white;

        &:hover{
          text-decoration: none;
          border-bottom: 3px solid white;
          color: white;
        }
      }
    }
  }
}