#top_header{
  background-color: #334A5E;
  z-index: 100;
  border-right: 2px solid white;
  margin-left: auto;
  color: white;
  cursor: default;
  left: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  line-height: 5em;
  max-height: 50px;
  text-align: right;
  padding-right: 15px;
  .header-box{
    height: 50px;
    ul{
      height: 100%;
      padding: 0;
      padding-left: 10px;
      li{
        float: left;
        list-style: none;
        line-height: 130%;
        letter-spacing: 3px;
        margin-top: 15px;
        text-align: center;
        margin-right: 60px;
        a{
          font-size: 12px;
          font-weight: 700;
          color: white;
          font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;

          &:hover{
            text-decoration: none;
            border-bottom: 2px solid white;
            color: white;
          }
        }
      }
    }
  }
}